.study-main {
  display: flex;
  width: 65%;
  margin: 0 auto;

  h2 {
    font-size: 150%;
  }

  p {
    font-size: 120%;
    margin: 0.25em 0;
  }

  .construction {
    font-size: 500%;
    text-align: center;
  }
}
