.terminal-window {
  background-color: #20232a;
  color: #fff;
}

.prompt-input {
  background-color: #20232a;
  color: #fff;
  border: none;
  caret-color: red;
  outline: #20232a;
  padding-left: 0.75em;
}
