.terminal-window {
  background-color: #27292E;
  color: #fff;
  width: 58%;
  border-radius: 3px;
  padding: 1em;
  height: 22em;
  overflow-y: scroll;
  margin-right: 2em;
}

.mono {
  font-size: 1.5em;
  font-family: 'Anonymous Pro', monospace;
  margin: 0;
}

.welcome {
  padding-top: 1px;
}

.prompt-input {
  width: 90%;
  background-color: #27292E;
  color: #fff;
  border: none;
  outline: #27292E;
  padding-left: 0.75em;
}

.output {
  padding-left: 0.75em;
}
