nav {
  background-color: #F1F1F1;
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;

  a, a:active {
    color: #20232a;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.75px;
    font-size: 115%;
  }
}

.nav-options {
  display: flex;
  width: 25em;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  list-style-type: none;
  font-size: 120%;
}

.current-link {
  border-bottom: 3px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(270deg, #45F0F0 0%, #FED738 40%, #FD68FD 80%);
  background: linear-gradient(270deg, #45F0F0 0%, #FED738 40%, #FD68FD 80%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
